.navbar-custom {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ffffff29;
}

.logout-btn {
  transition: all 0.3s ease;
}

.logout-btn:hover {
  transform: scale(1.05);
}

.active-theme-btn.dropdown-item {
  background-color: #4158ff !important;
  color: white !important;

  &:hover {
    background-color: #4158ff !important;
  }
}

nav {
  .dropdown-item {
    svg {
      background-color: transparent !important;
    }

    &:hover {
      background-color: #4157ff71 !important;
    }
  }

  a.dropdown-item:hover, button.btn-primary:hover {
    background-color: #4157fffb !important;
    color: white !important;
  }
}

@media (max-width: 991px) {
  .navbar-custom {
    padding: 0.5rem 0;
  }
}

nav {
  .dropdown-toggle::after {
    display: none;
  }

  button {
    outline: none !important;
    border: none !important;
    background-color: transparent !important;
  }

  .dropdown-menu {
    left: auto !important;
    right: 0rem !important;
  }
}