.write-blog-form label {
  font-weight: 600;
}

.content-textarea{
  max-height: 100vh;
  overflow: auto;
}

/* .ql-container.ql-snow {
  border: none !important;
  font: inherit !important;
  min-height: 10rem;
}

.ql-editor {
  max-height: 100vh;
  overflow: auto;
} */